In [1]:
pip install -q transformers

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from transformers import AutoTokenizer, T5ForConditionalGeneration

In [3]:
data = pd.read_excel('Summ.xlsx')

In [4]:
from transformers import AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained("t5-small")

In [5]:
tokenizer = AutoTokenizer.from_pretrained("t5-small")
model = T5ForConditionalGeneration.from_pretrained("t5-small")
def generate_summary(article):
    # Add a space after "summarize:" in the input
    input_text = "summarize: " + article
    input_ids = tokenizer.encode(input_text, return_tensors="pt", max_length=512, truncation=True)
    summary_ids = model.generate(input_ids, max_length=150, num_beams=4, length_penalty=2.0, early_stopping=True)
    summary = tokenizer.decode(summary_ids[0], skip_special_tokens=True)
    return summary

data['t5'] = data['article'].apply(generate_summary)

In [6]:
output_file_path = 'Summ.xlsx'  # Change to your desired output file name
data.to_excel(output_file_path, index=False)

print(f'Summaries saved')

Summaries saved

In [7]:
data

,article,highlights,t5
0,Ever noticed how plane seats appear to be gett...,Experts question if packed out planes are put...,some experts are questioning if shrinking spac...
1,A drunk teenage boy had to be rescued by secur...,Drunk teenage boy climbed into lion enclosure ...,"Rahul Kumar, 17, climbed into enclosure fence ..."
2,Dougie Freedman is on the verge of agreeing a ...,Nottingham Forest are close to extending Dougi...,Dougie Freedman is set to sign a new two-year ...
3,Liverpool target Neto is also wanted by PSG an...,Fiorentina goalkeeper Neto has been linked wit...,neto is wanted by a number of top european clu...
4,Bruce Jenner will break his silence in a two-h...,"Tell-all interview with the reality TV star, 6...","the former Olympian and reality tv star, 65, w..."
...,...,...,...
94,A teacher has been banned from the classroom a...,"Ian Guffick, 31, allowed pupils to make change...",Ian Guffick asked pupils to change their SATs ...
95,As Zlatan Ibrahimovic famously believes the Wo...,Zlatan Ibrahimovic will line up against former...,Zlatan Ibrahimovic was suspended for the first...
96,"JameelaÂ spent Â£3,000 on having all her amalg...","Jameela Jamil, 29, is convinced dental work tr...","jameela, 29, spent £3,000 on having all her am..."
97,A paramedic who pretended he was gay to get cl...,"Christopher Bridger, 25, attacked three women ...","Christopher Bridger, 25, attacked three women ..."
98,"Paris Saint-Germain face Nice on Saturday, hop...",Paris Saint-Germain captain Thiago Silva suffe...,Thiago Silva is recuperating at home from a th...

In [8]:
pip install -q transformers pandas

Note: you may need to restart the kernel to use updated packages.

In [9]:
!pip install -q transformers
!pip install -q pandas openpyxl

In [10]:
from transformers import BertTokenizer, BertModel
import torch

model_name = "bert-base-uncased"
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

Downloading (…)okenizer_config.json:   0%|          | 0.00/28.0 [00:00<?, ?B/s]

C:\Users\kastu\anaconda\Lib\site-packages\huggingface_hub\file_download.py:137: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\kastu\.cache\huggingface\hub. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to see activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

Downloading (…)solve/main/vocab.txt:   0%|          | 0.00/232k [00:00<?, ?B/s]

Downloading (…)/main/tokenizer.json:   0%|          | 0.00/466k [00:00<?, ?B/s]

Downloading (…)lve/main/config.json:   0%|          | 0.00/570 [00:00<?, ?B/s]

Downloading model.safetensors:   0%|          | 0.00/440M [00:00<?, ?B/s]

In [11]:
import pandas as pd
from transformers import BertTokenizer, BertForMaskedLM
import torch

In [12]:
# Initialize BERT Model
model_name = "bert-base-uncased"
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertForMaskedLM.from_pretrained(model_name)

# Generate Summaries
summaries = []

for text in data['article']:
    inputs = tokenizer(text, return_tensors="pt", max_length=512, truncation=True)
    with torch.no_grad():
        outputs = model(**inputs, return_dict=True)
    summary = tokenizer.decode(torch.argmax(outputs.logits, dim=2)[0], skip_special_tokens=True)
    summaries.append(summary)

# Add the generated summaries to the DataFrame
data['BERT'] = summaries

# Save the updated data to an Excel sheet
data.to_excel('Summ.xlsx', index=False)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForMaskedLM: ['cls.seq_relationship.bias', 'bert.pooler.dense.weight', 'cls.seq_relationship.weight', 'bert.pooler.dense.bias']
- This IS expected if you are initializing BertForMaskedLM from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForMaskedLM from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [13]:
data

,article,highlights,t5,BERT
0,Ever noticed how plane seats appear to be gett...,Experts question if packed out planes are put...,some experts are questioning if shrinking spac...,the. noticed how plane seats appear to be gett...
1,A drunk teenage boy had to be rescued by secur...,Drunk teenage boy climbed into lion enclosure ...,"Rahul Kumar, 17, climbed into enclosure fence ...",the a drunk teenage boy had to be rescued by s...
2,Dougie Freedman is on the verge of agreeing a ...,Nottingham Forest are close to extending Dougi...,Dougie Freedman is set to sign a new two-year ...,him.ie freedman is on the verge of signing a n...
3,Liverpool target Neto is also wanted by PSG an...,Fiorentina goalkeeper Neto has been linked wit...,neto is wanted by a number of top european clu...,him the target neto is also wanted by psg and ...
4,Bruce Jenner will break his silence in a two-h...,"Tell-all interview with the reality TV star, 6...","the former Olympian and reality tv star, 65, w...",. bruce jenner will break his silence in a two...
...,...,...,...,...
94,A teacher has been banned from the classroom a...,"Ian Guffick, 31, allowed pupils to make change...",Ian Guffick asked pupils to change their SATs ...,the. teacher has been banned from the classroo...
95,As Zlatan Ibrahimovic famously believes the Wo...,Zlatan Ibrahimovic will line up against former...,Zlatan Ibrahimovic was suspended for the first...,the as zlatan ibrahimovic famously believes th...
96,"JameelaÂ spent Â£3,000 on having all her amalg...","Jameela Jamil, 29, is convinced dental work tr...","jameela, 29, spent £3,000 on having all her am...","the.eelaa spent a£3, 000 on having all her ama..."
97,A paramedic who pretended he was gay to get cl...,"Christopher Bridger, 25, attacked three women ...","Christopher Bridger, 25, attacked three women ...",the. paramedic who pretended he was gay to get...
98,"Paris Saint-Germain face Nice on Saturday, hop...",Paris Saint-Germain captain Thiago Silva suffe...,Thiago Silva is recuperating at home from a th...,"the. saint - germain face nice on saturday, ho..."

In [14]:
!pip install -q pandas transformers

In [15]:
import pandas as pd
data = pd.read_excel("Summ.xlsx")

In [16]:
from transformers import BartForConditionalGeneration, BartTokenizer

model_name = "facebook/bart-large-cnn"
model = BartForConditionalGeneration.from_pretrained(model_name)
tokenizer = BartTokenizer.from_pretrained(model_name)

Downloading (…)/main/tokenizer.json:   0%|          | 0.00/1.36M [00:00<?, ?B/s]

In [17]:
summaries = []

for article in data["article"]:
    input_text = "summarize: " + article
    inputs = tokenizer(input_text, return_tensors="pt", max_length=1024, truncation=True)
    summary_ids = model.generate(inputs.input_ids, num_beams=4, min_length=30, max_length=150, early_stopping=True)

    # Decode and append the generated summary
    summary = tokenizer.decode(summary_ids[0], skip_special_tokens=True)
    summaries.append(summary)

data["BART"] = summaries

In [18]:
data.to_excel("Summ.xlsx", index=False)

In [19]:
data

,article,highlights,t5,BERT,BART
0,Ever noticed how plane seats appear to be gett...,Experts question if packed out planes are put...,some experts are questioning if shrinking spac...,the. noticed how plane seats appear to be gett...,U.S consumer advisory group set up by the Depa...
1,A drunk teenage boy had to be rescued by secur...,Drunk teenage boy climbed into lion enclosure ...,"Rahul Kumar, 17, climbed into enclosure fence ...",the a drunk teenage boy had to be rescued by s...,"Rahul Kumar, 17, climbed into the lions' enclo..."
2,Dougie Freedman is on the verge of agreeing a ...,Nottingham Forest are close to extending Dougi...,Dougie Freedman is set to sign a new two-year ...,him.ie freedman is on the verge of signing a n...,Dougie Freedman is on the verge of agreeing a ...
3,Liverpool target Neto is also wanted by PSG an...,Fiorentina goalkeeper Neto has been linked wit...,neto is wanted by a number of top european clu...,him the target neto is also wanted by psg and ...,Fiorentina goalkeeper Neto is wanted by a numb...
4,Bruce Jenner will break his silence in a two-h...,"Tell-all interview with the reality TV star, 6...","the former Olympian and reality tv star, 65, w...",. bruce jenner will break his silence in a two...,"The former Olympian and reality TV star, 65, w..."
...,...,...,...,...,...
94,A teacher has been banned from the classroom a...,"Ian Guffick, 31, allowed pupils to make change...",Ian Guffick asked pupils to change their SATs ...,the. teacher has been banned from the classroo...,Ian Guffick asked pupils at Mitton Manor Prima...
95,As Zlatan Ibrahimovic famously believes the Wo...,Zlatan Ibrahimovic will line up against former...,Zlatan Ibrahimovic was suspended for the first...,the as zlatan ibrahimovic famously believes th...,Zlatan Ibrahimovic was suspended for the first...
96,"JameelaÂ spent Â£3,000 on having all her amalg...","Jameela Jamil, 29, is convinced dental work tr...","jameela, 29, spent £3,000 on having all her am...","the.eelaa spent a£3, 000 on having all her ama...","Jameela Jamil spent Â£3,000 on having all her ..."
97,A paramedic who pretended he was gay to get cl...,"Christopher Bridger, 25, attacked three women ...","Christopher Bridger, 25, attacked three women ...",the. paramedic who pretended he was gay to get...,"Christopher Bridger, 25, from Stevenage, Hertf..."
98,"Paris Saint-Germain face Nice on Saturday, hop...",Paris Saint-Germain captain Thiago Silva suffe...,Thiago Silva is recuperating at home from a th...,"the. saint - germain face nice on saturday, ho...",Paris Saint-Germain face Nice in Ligue 1 on Sa...

In [20]:
pip -q install nltk

Note: you may need to restart the kernel to use updated packages.

In [21]:
import nltk
from nltk.translate.bleu_score import sentence_bleu
from nltk.translate.bleu_score import corpus_bleu
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\kastu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [22]:
!pip install pyrouge

Collecting pyrouge
  Downloading pyrouge-0.1.3.tar.gz (60 kB)
     ---------------------------------------- 0.0/60.5 kB ? eta -:--:--
     ------------ ------------------------- 20.5/60.5 kB 330.3 kB/s eta 0:00:01
     -------------------------------- ----- 51.2/60.5 kB 525.1 kB/s eta 0:00:01
     -------------------------------------- 60.5/60.5 kB 534.7 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: pyrouge
  Building wheel for pyrouge (setup.py): started
  Building wheel for pyrouge (setup.py): finished with status 'done'
  Created wheel for pyrouge: filename=pyrouge-0.1.3-py3-none-any.whl size=191685 sha256=e489339ed40a34953ad507caea3ef650cebc10998810fc716031f0f8917d177b
  Stored in directory: c:\users\kastu\appdata\local\pip\cache\wheels\2f\8a\0d\cc013998ab7499084d308981bf7850bdedeb27d75dd7ec501d
Successfully built pyrouge
Installing collected packages: pyrouge
Successfully installed pyrouge-0.1.3

In [23]:
!pip install -q pandas nltk rouge-score
!pip install -q rouge-score

In [24]:
import pandas as pd
from rouge_score import rouge_scorer
data = pd.read_excel('Summ.xlsx')


scorer = rouge_scorer.RougeScorer(['rougeLsum'])

# Initialize a list to store the Rouge-Lsum scores
rougeLsum_scores = []


for index, row in data.iterrows():

    highlights = row['highlights']
    t5 = row['t5']

    # Calculate Rouge-Lsum scores
    scores = scorer.score(highlights, t5)

    rougeLsum_scores.append(scores['rougeLsum'].fmeasure)

data['rougeLsum_t5'] = rougeLsum_scores

data.to_excel('Summ.xlsx', index=False)

In [25]:
import pandas as pd
from rouge_score import rouge_scorer

data = pd.read_excel('Summ.xlsx')
scorer = rouge_scorer.RougeScorer(['rougeLsum'])

rougeLsum_scores_BART = []
rougeLsum_scores_BERT = []

for index, row in data.iterrows():
    highlights = row['highlights']

    BART = row['BART']
    BERT = row['BERT']

    # Calculate Rouge-Lsum scores for 'BART'
    scores_BART = scorer.score(highlights, BART)
    rougeLsum_scores_BART.append(scores_BART['rougeLsum'].fmeasure)

    # Calculate Rouge-Lsum scores for 'BERT'
    scores_BERT = scorer.score(highlights, BERT)
    rougeLsum_scores_BERT.append(scores_BERT['rougeLsum'].fmeasure)

data['rougeLsum_BART'] = rougeLsum_scores_BART
data['rougeLsum_BERT'] = rougeLsum_scores_BERT

# Save the updated DataFrame with Rouge-Lsum scores to the Excel file
data.to_excel('Summ.xlsx', index=False)

In [26]:
data

,article,highlights,t5,BERT,BART,rougeLsum_t5,rougeLsum_BART,rougeLsum_BERT
0,Ever noticed how plane seats appear to be gett...,Experts question if packed out planes are put...,some experts are questioning if shrinking spac...,the. noticed how plane seats appear to be gett...,U.S consumer advisory group set up by the Depa...,0.266667,0.270833,0.112469
1,A drunk teenage boy had to be rescued by secur...,Drunk teenage boy climbed into lion enclosure ...,"Rahul Kumar, 17, climbed into enclosure fence ...",the a drunk teenage boy had to be rescued by s...,"Rahul Kumar, 17, climbed into the lions' enclo...",0.538462,0.584270,0.175141
2,Dougie Freedman is on the verge of agreeing a ...,Nottingham Forest are close to extending Dougi...,Dougie Freedman is set to sign a new two-year ...,him.ie freedman is on the verge of signing a n...,Dougie Freedman is on the verge of agreeing a ...,0.338028,0.371429,0.283784
3,Liverpool target Neto is also wanted by PSG an...,Fiorentina goalkeeper Neto has been linked wit...,neto is wanted by a number of top european clu...,him the target neto is also wanted by psg and ...,Fiorentina goalkeeper Neto is wanted by a numb...,0.322581,0.382979,0.152113
4,Bruce Jenner will break his silence in a two-h...,"Tell-all interview with the reality TV star, 6...","the former Olympian and reality tv star, 65, w...",. bruce jenner will break his silence in a two...,"The former Olympian and reality TV star, 65, w...",0.391753,0.453901,0.177966
...,...,...,...,...,...,...,...,...
94,A teacher has been banned from the classroom a...,"Ian Guffick, 31, allowed pupils to make change...",Ian Guffick asked pupils to change their SATs ...,the. teacher has been banned from the classroo...,Ian Guffick asked pupils at Mitton Manor Prima...,0.355140,0.345455,0.160173
95,As Zlatan Ibrahimovic famously believes the Wo...,Zlatan Ibrahimovic will line up against former...,Zlatan Ibrahimovic was suspended for the first...,the as zlatan ibrahimovic famously believes th...,Zlatan Ibrahimovic was suspended for the first...,0.181818,0.238532,0.110619
96,"JameelaÂ spent Â£3,000 on having all her amalg...","Jameela Jamil, 29, is convinced dental work tr...","jameela, 29, spent £3,000 on having all her am...","the.eelaa spent a£3, 000 on having all her ama...","Jameela Jamil spent Â£3,000 on having all her ...",0.359551,0.325581,0.156250
97,A paramedic who pretended he was gay to get cl...,"Christopher Bridger, 25, attacked three women ...","Christopher Bridger, 25, attacked three women ...",the. paramedic who pretended he was gay to get...,"Christopher Bridger, 25, from Stevenage, Hertf...",0.725490,0.588235,0.198347
98,"Paris Saint-Germain face Nice on Saturday, hop...",Paris Saint-Germain captain Thiago Silva suffe...,Thiago Silva is recuperating at home from a th...,"the. saint - germain face nice on saturday, ho...",Paris Saint-Germain face Nice in Ligue 1 on Sa...,0.328767,0.229885,0.106195

In [30]:
avg_rougeLsum_t5 = data['rougeLsum_t5'].mean()
avg_rougeLsum_BERT = data['rougeLsum_BERT'].mean()
avg_rougeLsum_BART = data['rougeLsum_BART'].mean()

print("Average rougeLsum_t5:", avg_rougeLsum_t5)
print("Average rougeLsum_BERT:", avg_rougeLsum_BERT)
print("Average rougeLsum_BART:", avg_rougeLsum_BART)

Average rougeLsum_t5: 0.3273507455410572
Average rougeLsum_BERT: 0.16448557917741247
Average rougeLsum_BART: 0.3648233255507932